html {
  height: 100vh;
}

body {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://assets.nflxext.com/ffe/siteui/vlv3/25f808aa-cecb-4753-8541-9a79f40c18ae/web/AZ-en-20251006-TRIFECTA-perspective_8eb5d1a0-fa80-4b3e-8c59-109995818ad9_medium.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  font-size: 24px;
  font-family: NetflixLight;
  height: 100vh;
}

@font-face {
  font-family: NetflixLight;
  src: url(/assets/fonts/NetflixSans-Light.otf);
}

.logo > img {
  width: 250px;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 295px;
}

ul {
    display: flex;
    gap: 10px;
}

#languages {
    width: 100px;
}


main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}